header {
  background-color: #808080;
  padding-bottom: 60px;
}
footer {
  text-align: center;
  background-color: #808080;
}
.bad_btn {
  width: 250px;
  height: 50px;
  border: 2px solid #000000;
  background: #262dff;
  background: -webkit-gradient(linear, left top, left bottom, from(#898dfa), to(#262dff));
  background: -webkit-linear-gradient(top, #898dfa, #262dff);
  background: -moz-linear-gradient(top, #898dfa, #262dff);
  background: -ms-linear-gradient(top, #898dfa, #262dff);
  background: -o-linear-gradient(top, #898dfa, #262dff);
  background-image: -ms-linear-gradient(top, #898dfa 0%, #262dff 100%);
  padding: 11.5px 23px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  text-shadow: #000000 0 1px 0;
  color: #000000;
  font-size: 24px;
  font-family: helvetica, serif;
  text-decoration: none;
  vertical-align: middle;
}
.bad_btn:hover {
  border: 2px solid #000000;
  text-shadow: #000000 0 1px 0;
  background: #0009ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#898dfa), to(#0009ff));
  background: -webkit-linear-gradient(top, #898dfa, #0009ff);
  background: -moz-linear-gradient(top, #898dfa, #0009ff);
  background: -ms-linear-gradient(top, #898dfa, #0009ff);
  background: -o-linear-gradient(top, #898dfa, #0009ff);
  background-image: -ms-linear-gradient(top, #898dfa 0%, #0009ff 100%);
  color: #000000;
}
.bad_btn:active {
  text-shadow: #898dfa 0 1px 0;
  border: 2px solid #000000;
  background: #898dfa;
  background: -webkit-gradient(linear, left top, left bottom, from(#0009ff), to(#0009ff));
  background: -webkit-linear-gradient(top, #0009ff, #898dfa);
  background: -moz-linear-gradient(top, #0009ff, #898dfa);
  background: -ms-linear-gradient(top, #0009ff, #898dfa);
  background: -o-linear-gradient(top, #0009ff, #898dfa);
  background-image: -ms-linear-gradient(top, #0009ff 0%, #898dfa 100%);
  color: #fff;
}
.btn_list {
  display: inline-flex;
}
.btn_list li {
  padding: 20px 50px;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.flex-caption span {
  font-weight: bold;
  font-size: 110%;
  color: #ff4500;
  font-family: serif;
}
.footer_content {
  padding-bottom: 10px;
}
.footer_list {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer_list li {
  display: inline-block;
}
.footer_list li a {
    text-decoration: none;
    font-weight: bold;
    color: #a52a2a;
}
.form-container {
  margin: 0 auto;
  border: 3px solid #725129;
  background: #ffae00;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffbc36), to(#ffae00));
  background: -webkit-linear-gradient(top, #ffbc36, #ffae00);
  background: -moz-linear-gradient(top, #ffbc36, #ffae00);
  background: -ms-linear-gradient(top, #ffbc36, #ffae00);
  background: -o-linear-gradient(top, #ffbc36, #ffae00);
  background-image: -ms-linear-gradient(top, #ffbc36 0%, #ffae00 100%);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: rgba(000, 000, 000, 0.9) 0 1px 2px, inset rgba(255, 255, 255, 0.4) 0 0px 0;
  -moz-box-shadow: rgba(000, 000, 000, 0.9) 0 1px 2px, inset rgba(255, 255, 255, 0.4) 0 0px 0;
  box-shadow: rgba(000, 000, 000, 0.9) 0 1px 2px, inset rgba(255, 255, 255, 0.4) 0 0px 0;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  text-decoration: none;
  vertical-align: middle;
  min-width: 500px;
  padding: 20px;
  width: 500px;
}
.form-container h2 {
  text-shadow: #fdf2e4 0 1px 0;
  font-size: 18px;
  margin: 0 0 10px 0;
  font-weight: bold;
  text-align: center;
}
.form-field {
  border: 2px solid #725129;
  background: #e4d5c3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #a69779;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(000, 000, 000, 0.7) 0 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(000, 000, 000, 0.7) 0 1px 1px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(000, 000, 000, 0.7) 0 1px 1px;
  padding: 8px;
  margin-bottom: 20px;
  width: 400px;
}
.form-field:focus {
  background: #fdf2e4;
  color: #725129;
}
.form-title {
  margin-bottom: 10px;
  color: #725129;
  text-shadow: #fdf2e4 0 1px 0;
  font-size: 120%;
}
.form-title h2 {
  font-weight: bold;
  font-size: 130%;
}
.generic_button {
  margin-bottom: 5px;
  width: 200px;
  height: 30px;
  border: 2px solid #000000;
  background: #ffc400;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffed7a), to(#ffc400));
  background: -webkit-linear-gradient(top, #ffed7a, #ffc400);
  background: -moz-linear-gradient(top, #ffed7a, #ffc400);
  background: -ms-linear-gradient(top, #ffed7a, #ffc400);
  background: -o-linear-gradient(top, #ffed7a, #ffc400);
  background-image: -ms-linear-gradient(top, #ffed7a 0%, #ffc400 100%);
  padding: 3px 13px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  text-shadow: #ffed7a 0 1px 0;
  color: #000000;
  font-size: 19px;
  font-family: helvetica, serif;
  text-decoration: none;
  vertical-align: middle;
}
.generic_button:hover {
  border: 2px solid #000000;
  text-shadow: #ffed7a 0 1px 0;
  background: #ffae00;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffed7a), to(#ffae00));
  background: -webkit-linear-gradient(top, #ffed7a, #ffae00);
  background: -moz-linear-gradient(top, #ffed7a, #ffae00);
  background: -ms-linear-gradient(top, #ffed7a, #ffae00);
  background: -o-linear-gradient(top, #ffed7a, #ffae00);
  background-image: -ms-linear-gradient(top, #ffed7a 0%, #ffae00 100%);
  color: #000000;
}
.generic_button:active {
  text-shadow: #ffae00 0 1px 0;
  border: 2px solid #000000;
  background: #ffed7a;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffae00), to(#ffae00));
  background: -webkit-linear-gradient(top, #ffae00, #ffed7a);
  background: -moz-linear-gradient(top, #ffae00, #ffed7a);
  background: -ms-linear-gradient(top, #ffae00, #ffed7a);
  background: -o-linear-gradient(top, #ffae00, #ffed7a);
  background-image: -ms-linear-gradient(top, #ffae00 0%, #ffed7a 100%);
  color: #fff;
}
.good_btn {
  width: 250px;
  height: 50px;
  cursor: pointer;
  border: 2px solid #000000;
  background: #ff9625;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffd09e), to(#ff9625));
  background: -webkit-linear-gradient(top, #ffd09e, #ff9625);
  background: -moz-linear-gradient(top, #ffd09e, #ff9625);
  background: -ms-linear-gradient(top, #ffd09e, #ff9625);
  background: -o-linear-gradient(top, #ffd09e, #ff9625);
  background-image: -ms-linear-gradient(top, #ffd09e 0%, #ff9625 100%);
  padding: 11.5px 23px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  text-shadow: #000000 0 1px 0;
  color: #000000;
  font-size: 24px;
  font-family: helvetica, serif;
  text-decoration: none;
  vertical-align: middle;
}
.good_btn:hover {
  border: 2px solid #000000;
  text-shadow: #000000 0 1px 0;
  background: #ff8400;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffd09e), to(#ff8400));
  background: -webkit-linear-gradient(top, #ffd09e, #ff8400);
  background: -moz-linear-gradient(top, #ffd09e, #ff8400);
  background: -ms-linear-gradient(top, #ffd09e, #ff8400);
  background: -o-linear-gradient(top, #ffd09e, #ff8400);
  background-image: -ms-linear-gradient(top, #ffd09e 0%, #ff8400 100%);
  color: #000000;
}
.good_btn:active {
  text-shadow: #ff9625 0 1px 0;
  border: 2px solid #000000;
  background: #ffd09e;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff9625), to(#ff9625));
  background: -webkit-linear-gradient(top, #ff9625, #ffd09e);
  background: -moz-linear-gradient(top, #ff9625, #ffd09e);
  background: -ms-linear-gradient(top, #ff9625, #ffd09e);
  background: -o-linear-gradient(top, #ff9625, #ffd09e);
  background-image: -ms-linear-gradient(top, #ff9625 0%, #ffd09e 100%);
  color: #fff;
}
.good_num p, .bad_num p {
  font-size: 1.5em;
}
.login_box {
  float: right;
  clear: both;
}
.logo {
  text-align: center;
}
.logo img {
  padding-top: 10px;
  max-width: 100%;
}
.users_link{
  text-decoration: none;
  font-weight: bold;
}
.main_content_button {
  padding-top: 20px;
}
.msg {
  font-size: 1.5em;
  color: #ff4500;
}
.pic_frame {
  padding-top: 10px;
  height: 400px;
}
.pic_frame img {
  max-height: 400px;
  max-width: 40%;
}
.search_box {
  float: right;
  clear: both;
}
.submit-container {
  margin: 8px 0;
  text-align: right;
}
.submit-button {
  border: 2px solid #725129;
  background: #a69779;
  background: -webkit-gradient(linear, left top, left bottom, from(#a69779), to(#a69779));
  background: -webkit-linear-gradient(top, #a69779, #a69779);
  background: -moz-linear-gradient(top, #a69779, #a69779);
  background: -ms-linear-gradient(top, #a69779, #a69779);
  background: -o-linear-gradient(top, #a69779, #a69779);
  background-image: -ms-linear-gradient(top, #a69779 0%, #a69779 100%);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  text-shadow: #a69779 0 1px 0;
  color: #725129;
  font-family: helvetica, serif;
  padding: 8.5px 18px;
  font-size: 14px;
  text-decoration: none;
  vertical-align: middle;
}
.submit-button:hover {
  border: 2px solid #725129;
  text-shadow: #725129 0 1px 0;
  background: #a69779;
  background: -webkit-gradient(linear, left top, left bottom, from(#a69779), to(#a69779));
  background: -webkit-linear-gradient(top, #a69779, #a69779);
  background: -moz-linear-gradient(top, #a69779, #a69779);
  background: -ms-linear-gradient(top, #a69779, #a69779);
  background: -o-linear-gradient(top, #a69779, #a69779);
  background-image: -ms-linear-gradient(top, #a69779 0%, #a69779 100%);
  color: #fff;
}
.submit-button:active {
  text-shadow: #70491d 0 1px 0;
  border: 2px solid #70491d;
  background: #8f784b;
  background: -webkit-gradient(linear, left top, left bottom, from(#8f784b), to(#a69779));
  background: -webkit-linear-gradient(top, #8f784b, #8f784b);
  background: -moz-linear-gradient(top, #8f784b, #8f784b);
  background: -ms-linear-gradient(top, #8f784b, #8f784b);
  background: -o-linear-gradient(top, #8f784b, #8f784b);
  background-image: -ms-linear-gradient(top, #8f784b 0%, #8f784b 100%);
  color: #fff;
}
.thumbnail {
  height: 100px;
  width: 100px;
}
.user_info {
  font-size: 1.2em;
}
.wrapper {
  text-align: center;
  background-color: #fffafa;
}
#content_area {
  resize: vertical;
  overflow: auto;
}
#good_icon, #bad_icon {
  padding: 5px 0;
  height: 40px;
  width: 40px;
}
#pic_l, #pic_r {
  display: none;
}
#rank {
  font-size: 5em;
  color: #ff9625;
  text-shadow: 1px 1px 6px #000000;
  padding-bottom: 15px;
}
#sec_01, #sec_02 {
  padding: 20px 0;
}
#sec_02 {
  background-color: #fffcaa;
}
#title {
  font-size: 5em;
}
#vs_pic {
  transform: translateY(-125px);
  max-height: 15%;
  max-width: 15%;
}
#which_pic {
  margin-top: 5px;
  margin-bottom: 5px;
  max-height: 100px;
  max-width: 100%;
}
